<h1><%=raw @page.title %></h1>
<div id="donate">
  <div id="donate-top"><%=raw @page.content_for(:top) %></div>
  <div class="clear"></div>
  <div id="donate-left"><%=raw @page.content_for(:left) %></div>
  <!--<div id="donate-right"><%=raw @page.content_for(:right) %></div>-->
  <div class="clear"></div>
  <div id="donate-bottom"><%=raw @page.content_for(:bottom) %></div>
</div>
